@model ECommerce.Web.ViewModels.ProductListViewModel

@if (Model.TotalPages > 1)
{
    <nav class="mt-4 d-flex justify-content-center">
        <ul class="pagination">

            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a href="#"
                   class="page-link"
                   data-page="@(Model.CurrentPage - 1)">
                    &laquo;
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a href="#"
                       class="page-link"
                       data-page="@i">
                        @i
                    </a>
                </li>
            }

            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a href="#"
                   class="page-link"
                   data-page="@(Model.CurrentPage + 1)">
                    &raquo;
                </a>
            </li>

        </ul>
    </nav>
}
